// colors
$clr-nutmeg: hsl(14, 45%, 36%);
$clr-dark-raspberry: hsl(332, 51%, 32%);
$clr-white: hsl(0, 0%, 100%);
$clr-rose-white: hsl(330, 100%, 98%);
$clr-eggshell: hsl(30, 54%, 90%);
$clr-light-grey: hsl(30, 18%, 87%);
$clr-wenge-brown: hsl(30, 10%, 34%);
$clr-dark-charcoal: hsl(24, 5%, 18%);

// font-families
$ff-headings: "Young Serif";
$ff-text: "Outfit";

// font-sizes
$fs-body: 1rem; // 16px
$fs-h2: 1.75rem; // 28px
$fs-xl: 2.5rem; // 40px

// font-weight
$fw-normal: 400;
$fw-semibold: 600;
$fw-bold: 700;

// spacing
$space-100: 1rem; // 16px
$space-200: 1.25rem; // 20px
$space-250: 1.5rem; // 24px
$space-260: 1.6rem; // 30px
$space-300: 1.75rem; // 28px
$space-400: 2rem; // 32px
$space-800: 2.5rem; // 40px
$space-900: 3rem; // 48px

// utility
$rounded-s: 0.75rem;
$rounded-l: 1.5rem;
