@use "./variables" as *;
@use "./resets" as *;
@use "./mixins" as *;

@font-face {
  font-family: Outfit;
  src: url("../../assets/fonts/outfit/static/Outfit-Regular.ttf") format("ttf");
}

@font-face {
  font-family: YoungSerif;
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("ttf");
}

/**
* Styles
**/
h2,
h3 {
  color: $clr-nutmeg;
}

h2 {
  font-size: $fs-h2;
}

.container {
  height: 100%;
  min-height: 100vh;
  background-color: $clr-white;
  max-width: 46rem;
  margin-inline: auto;

  @media screen and (min-width: 768px) {
    margin-top: 7.68rem;
    border-radius: $rounded-l;
  }
}

.recipe {
  &__hero {
    img {
      @media screen and (min-width: 768px) {
      }
    }

    @media screen and (min-width: 768px) {
      padding-top: $space-800;
      padding-inline: $space-800;
      img {
        border-radius: $rounded-s;
      }
    }
  }

  &__heading {
    font-size: clamp(
      2.25rem,
      calc(2.25rem + ((1vw - 0.2rem) * 0.4545)),
      2.5rem
    );
    color: $clr-dark-charcoal;
    line-height: 1.1;
    margin-bottom: $space-200;
  }

  &__content-wrapper {
    padding: clamp(2rem, calc(2rem + ((1vw - 0.2rem) * 0.9091)), 2.5rem);
  }

  &__time {
    margin-top: $space-400;
    padding: $space-300;
    padding-top: $space-250;
    background-color: $clr-rose-white;
    border-radius: $rounded-s;
    @include section-flex-gap(10px);

    &__heading {
      font-family: $ff-text;
      font-size: 20px;
      font-weight: $fw-bold;
      letter-spacing: -0.2px;
    }

    &__list {
      @include list;
    }
  }

  &__ingredients {
    margin-top: $space-300;
    @include section-flex-gap(15px);

    &__list {
      @include list;
    }
  }

  &__instructions {
    margin-top: $space-260;
    @include section-flex-gap(15px);

    &__list {
      @include list;
    }

    &__list-item {
      padding-left: $space-200;

      span {
        font-weight: $fw-bold;
      }

      &::marker {
        font-weight: bold;
        color: $clr-dark-raspberry;
      }
    }
  }

  &__nutrition {
    margin-top: $space-260;
    &__heading {
      margin-bottom: $space-100;
    }

    table {
      margin-top: 12px;
      width: 100%;
      border-collapse: collapse;

      td {
        padding-left: $space-400;
        padding-block: 12px;
        border-bottom: 1px solid $clr-light-grey;
      }

      td:nth-of-type(2) {
        width: 53%;
        font-weight: bold;
        color: $clr-nutmeg;
      }
    }
  }
}

.line {
  margin-top: $space-400;
  border: 0.5px solid $clr-light-grey;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: $fs-body;
  gap: 0.3rem;
  justify-content: center;
  margin-block: $space-100;

  a {
    color: $clr-dark-raspberry;

    &:hover {
      color: $clr-wenge-brown;
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
