@use "./variables" as *;
@use "./resets" as *;
@use "./mixins" as *;

@font-face {
  font-family: Outfit;
  src: url("../../assets/fonts/outfit/static/Outfit-Regular.ttf") format("ttf");
}

@font-face {
  font-family: YoungSerif;
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("ttf");
}

/**
* Styles
**/
h2,
h3 {
  color: $clr-nutmeg;
}

h2 {
  font-size: $fs-h2;
}

body {
  min-height: 100svh;
  background-color: $clr-eggshell;
}

.container {
  // height: 100%;
  background-color: $clr-white;

  max-width: 46rem;
  margin-inline: auto;

  @media screen and (min-width: 48em) {
    margin-top: 7.68rem;
    border-radius: $rounded-l;
  }
}

.recipe__hero {
  @media screen and (min-width: 48em) {
    padding-top: $space-800;
    padding-inline: $space-800;
    img {
      border-radius: $rounded-s;
    }
  }
}

.recipe__heading {
  font-size: clamp(2.25rem, calc(2.25rem + ((1vw - 0.2rem) * 0.4545)), 2.5rem);
  color: $clr-dark-charcoal;
  line-height: 1.1;
  margin-bottom: $space-200;
}

.recipe__content-wrapper {
  padding: clamp(2rem, calc(2rem + ((1vw - 0.2rem) * 0.9091)), 2.5rem);
}

.recipe__time {
  margin-top: $space-400;
  padding: $space-300;
  padding-top: $space-250;
  background-color: $clr-rose-white;
  border-radius: $rounded-s;
  @include section-flex-gap(10px);
}

.recipe__time__heading {
  font-family: $ff-text;
  color: $clr-dark-raspberry;
  font-size: 1.25rem;
  font-weight: $fw-bold;
  letter-spacing: -0.2px;
}

.recipe__time__list {
  @include list;
}

.recipe__ingredients {
  margin-top: $space-300;
  @include section-flex-gap(15px);
}

.recipe__ingredients__list {
  @include list;
}

.recipe__instructions {
  margin-top: $space-260;
  @include section-flex-gap(15px);
}

.recipe__instructions__list {
  @include list;
}

.recipe__instructions__list-item {
  padding-left: $space-200;

  span {
    font-weight: $fw-bold;
  }

  &::marker {
    font-weight: bold;
    color: $clr-dark-raspberry;
  }
}

.recipe__nutrition {
  margin-top: $space-260;
}

.recipe__nutrition__table {
  margin-top: 12px;
  width: 100%;
  border-collapse: collapse;
  // cell-spacing: 10px;

  tr {
    padding-inline: 2rem;
  }

  tr:last-of-type {
    th,
    td {
      border-bottom: none;
    }
  }

  th,
  td {
    padding: 12px 32px;
    border-bottom: 1px solid $clr-light-grey;
    text-align: left;
  }

  th {
    font-weight: normal;
  }

  td {
    font-weight: bold;
    color: $clr-nutmeg;
  }
}

.recipe__nutrition__heading {
  margin-bottom: $space-100;
}

.line {
  margin-top: $space-400;
  border: 0.5px solid $clr-light-grey;
}

footer {
  @include flex-col;
  text-align: center;
  font-size: $fs-body;
  gap: 0.3rem;
  justify-content: center;
  margin-block: $space-100;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

footer a {
  color: $clr-dark-raspberry;

  &:hover {
    color: $clr-wenge-brown;
  }
}
